@use 'sass:math';

// === MIXINS ===

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

// === / MIXINS ===

// === FUNCTIONS ===

@function strip-unit($num) {
  @return math.div($num, ($num * 0 + 1));
}

@function rem($num) {
  @return math.div(strip-unit($num), 16) * 1rem;
}

@function calcResponsiveFontSize($f-min, $f-max, $w-min, $w-max) {
  $f-min: strip-unit($f-min);
  $f-max: strip-unit($f-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);
  $k: math.div(($f-max - $f-min), ($w-max - $w-min));
  $b: rem($f-min - $k * $w-min);
  @return calc(#{$k} * 100vw + #{$b});
}

// === / FUNCTIONS ===

// === VARIABLES ===

$base: rem(4px);

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xs: rem(12px);
$fs-s: rem(14px);
$fs-m: rem(16px);
$fs-l: rem(18px);
$fs-xl: rem(20px);
$fs-xxl: rem(22px);

$transition: 0.3s;
$transition-01: 0.1s;
$transition-02: 0.2s;

$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-dark: rgba(51, 51, 51, 1);
$color-default: rgba(79, 79, 79, 1);
$color-grey: rgba(196, 196, 196, 1);
$color-disabled: rgba(130, 130, 130, 1);
$color-border: rgba(189, 189, 189, 1);
$color-body: rgba(217, 217, 217, 1);
$color-link: rgba(47, 128, 237, 1);
$color-visited: rgba(155, 81, 224, 1);
$color-primary: rgba(86, 204, 242, 1);

$breakpoint-xxs-min: 320px;
$breakpoint-xs-min: 480px;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1440px;

$breakpoint-xxxs-max: $breakpoint-xxs-min - 1px;
$breakpoint-xxs-max: $breakpoint-xs-min - 1px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

// === / VARIABLES ===
