@import './sass/normalize.scss';
@import './sass/constants.scss';

// === FONTS ===

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('./fonts/#{$file_name}.woff') format('woff'), url('./fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import './sass/fonts.scss';

// === / FONTS ===

// === COMMON ===

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include roboto;
  background: $color-body;
  color: $color-default;
}

.wrapper {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  @include roboto;
  margin: 0;
}

.h1 {
  font-size: $fs-xxl;
  font-weight: $fw-bold;
}

.h2 {
  font-size: $fs-xl;
  font-weight: $fw-bold;
}

.h3 {
  font-size: $fs-l;
  font-weight: $fw-medium;
}

.h4 {
  font-size: $fs-m;
  font-weight: $fw-medium;
}

a {
  text-decoration: none;
  color: $color-link;
  transition: all $transition-01;

  &:hover {
    color: $color-primary;
  }

  &:visited {
    color: $color-visited;
  }
}

input,
select,
textarea {
  @include roboto;
  font-size: $fs-m;
  padding: 0.438rem 0.5rem;
}

// === / COMMON ===
