@import './sass/normalize.scss';
@import './sass/constants.scss';

// === FONTS ===

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('./fonts/#{$file_name}.woff') format('woff'), url('./fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import './sass/fonts.scss';

// === / FONTS ===

// === COMMON ===

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include roboto;
  font-size: $fs-m;
  font-weight: $fw-regular;
  background: $color-body;
  color: $color-default;
}

.wrapper {
  max-width: $base * 285;
  width: 79.16666666666667%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  @include roboto;
  margin: 0;
}

ul,
ol,
dl {
  list-style: none;
}

.h1 {
  font-size: $fs-xxl;
  font-weight: $fw-bold;
}

.h2 {
  font-size: $fs-xl;
  font-weight: $fw-bold;
}

.h3 {
  font-size: $fs-l;
  font-weight: $fw-medium;
}

.h4 {
  font-size: $fs-m;
  font-weight: $fw-medium;
}

.description {
  font-size: $fs-s;
  font-weight: $fw-light;
  color: $color-disabled;
}

.link {
  color: $color-link;
  transition: all $transition-01;

  &:hover {
    color: $color-primary;
  }

  &:visited {
    color: $color-visited;
  }
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  @include roboto;
  font-size: $fs-m;
  padding: 0.438rem 0.5rem;
}

.color_black {
  color: $color-black;
}

// === / COMMON ===

// === HEADER ===

.header {
  margin-top: $base * 10;
  padding: $base * 10 0 $base * 10 $base * 4;
  background-color: $color-white;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-list__item {
  font-size: $fs-l;
  font-weight: $fw-bold;
  color: $color-black;

  &::after {
    content: '/';
    margin: 0 $base;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

// === HEADER ===

// === NAV ===

.nav {
  margin-top: $base * 5;
  padding: $base * 4 0 $base * 4 $base * 4;
  background-color: $color-white;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $base * 7.5;
}

// .nav-list__item {}

.nav-list__link {
  color: $color-disabled;
  text-transform: uppercase;
}

// === / NAV ===

// === BREADCRUMBS ===

.breadcrumbs {
  margin-top: 0;
  padding: $base * 3 0 $base * 3 $base * 3;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.breadcrumbs-list__item {
  &::after {
    content: '>';
    margin: 0 $base * 4;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.breadcrumbs-list__link {
  font-size: $fs-xs;
}

// === BREADCRUMBS ===

// === MAIN ===

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.catalog {
  display: flex;
  flex-direction: column;
  flex-basis: 74.56140350877193%;
}

.catalog-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: $base * 4.5;
  margin-top: $base * 4;
}

.catalog-list__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: $base * 4;
  width: 100%;
  padding: $base * 4;
  background-color: $color-white;
}

.catalog-list__item-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-basis: 75.29411764705882%;
}

.catalog-list__item-title {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 61%;
}

// .catalog-list__item-description__wrapper {}

.catalog-list__item-description {
  margin-top: $base;
  font-size: $fs-s;
  font-weight: $fw-light;
  color: $color-disabled;
}

.catalog-list__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 36%;
}

.catalog-list__img {
  width: 100%;
  height: auto;
}

.catalog-seo {
  display: flex;
  flex-direction: column;
  gap: $base * 2;
  width: 66.47058823529412%;
  margin-top: $base * 5;
}

.catalog-seo__item {
  color: $color-default;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $base;
  font-size: $fs-m;
  font-weight: $fw-medium;
}

// === / MAIN ===

// === FILTER ===

.filter {
  display: flex;
  flex-direction: column;
  flex-basis: 23.68421052631579%;
  margin-top: $base * 11.5;
  padding: $base * 4 $base * 4 $base * 4 $base * 4;
  background-color: $color-white;

  .h4 {
    padding-bottom: $base * 4;
    border-bottom: 0.063rem solid $color-border;
  }
}

// === FILTER ===

// === TAG ===

.tag-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $base * 4;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $base $base * 3;
  font-size: $fs-xs;
  color: $color-white;
  background-color: $color-grey;
}

// === TAG ===

// === PAGINATION ===

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $base * 5;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $base * 4;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $base * 8.75;
  height: $base * 8.75;
  font-size: $fs-m;
  font-weight: $fw-regular;
  color: $color-black;
  background-color: $color-white;
  transition: all $transition-01;

  &:active {
    animation: onClick $transition-01 linear;
  }
}

.pagination__item_active {
  background-color: $color-primary;
}

.pagination__item_disabled {
  color: $color-disabled;
}

// === / PAGINATION ===

// === ANIMATIONS ===

@keyframes onClick {
  from {
    position: relative;
    top: 0;
    left: 0;
  }
  to {
    position: relative;
    top: 0.094rem;
    left: 0.094rem;
  }
}

// @keyframes rotate90 {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(90deg);
//   }
// }

// === / ANIMATIONS ===

// === FOOTER ===

.footer {
  margin-top: $base * 5;
  padding: $base * 8 $base * 4 $base * 5 $base * 4;
  background-color: $color-white;
}

// === FOOTER ===

// === COPYRIGHT ===

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $base * 2 0;
}

.copyright__item {
  &::after {
    content: '-';
    margin: 0 $base;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

// === COPYRIGHT ===

// === SELECT_SORT ===

.visibility_hidden {
  visibility: hidden;
}

.select-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $base * 2;
  font-size: $fs-m;
  font-weight: $fw-regular;
}

.select-sort__label {
  color: $color-black;
}

.select-sort__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $base * 52;
  padding: $base * 2 $base * 3 $base * 2 $base * 3;
  background-color: $color-white;
  border: 1px solid $color-border;
  transition: all $transition-01;

  &:focus {
    border-color: $color-primary;

    .select-sort__button-icon {
      transform: rotate(180deg);

      &::before,
      &::after {
        background-color: $color-primary;
      }
    }

    .select-sort__button-description {
      color: $color-default;
    }
  }

  &:disabled {
    background-color: $color-disabled-light;
  }
}

.select-sort__button-description {
  color: $color-disabled;
}

.select-sort__button-icon {
  position: relative;
  width: $base * 4;
  height: $base * 4;
  transition: all $transition-01;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50%;
    height: 1%;
    background-color: $color-disabled;
    border-radius: $base;
  }

  &::before {
    left: 9.4%;
    transform: rotate(45deg);
  }

  &::after {
    right: 9.4%;
    transform: rotate(-45deg);
  }
}

.select-list__wrapper {
  position: absolute;
  top: $base * 10;
  left: 0;
  background-color: pink;
}

.select-list {
}

.select-list__item {
}

// === SELECT_SORT ===
